/*

Color palette:

Highlight: #315EEB
Default: #008BE9
Secondary: #C749FF


*/

.menu {
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    margin: 0 auto;

    background-color: white;
}

.menu-title {
    display: none;
}

.menu-main {
    text-align: left;
    width: 50%;
}

.menu-nav {
    text-align: right;
    width: 50%;
}

.menu-logo {
    margin: 5px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    color: gray;
}

.menu-link {
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 1.2em;
    color: #008BE9;
    transition: color 0.2s, background-color 0.2s;
}

.menu-link:hover {
    background-color: #315EEB;
    color: white;
}

.menu-toggler {
    display: none;
    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
}

.menu-toggler:focus {
    outline: none;
}

.menu-toggler-line {
    width: 20px;
    height: 5px;
    background-color: gray;
    margin: 6px auto;
    border-radius: 10px;

    transition: transform 200ms, margin 200ms;
}